@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* Executing Tab */

.dummy-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0;
}
.dummy-button {
  padding: 6px 30px;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Lora", serif;
  margin: 0 10px;
  background-color: #595959;
  border: 2px solid #595959;
  color: white;
  cursor: pointer;
  outline: none;
  transition: 0.5s ease-in-out;
}
.dummy-button:hover {
  border: 2px solid gray;
}
.dummy-button:active {
  background-color: white;
  color: #595959;
}
.dummy-button-disabled {
  background-color: #d0cece;
  border: 1px solid #d0cece;
  cursor: not-allowed;
}
.dummy-button-disabled:hover {
  border: 1px solid #d0cece;
}
.dummy-button-disabled:active {
  color: white;
  background-color: #d0cece;
}

/* Order List - Accordion */

.accordion-item {
  width: 100%;
}
.accordion-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 80%;
  background-color: #afabab;
  font-family: "Playfair Display", serif;
  padding: 10px 15px;
  outline: none;
  margin: 5px 0;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}
.accordion-button:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}
.accordion-button[aria-expanded="true"]::before,
.accordion-button[aria-selected="true"]::before {
  transform: rotate(45deg);
}
.accordion-button-divider {
  font-size: 30px;
  color: white;
  padding: 0 10px;
  font-weight: bold;
}
.accordion-button-key {
  font-size: 18px;
}
.accordion-button-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-avatar {
  border: 1px solid #afabab;
  padding: 5px;
  margin-right: 5px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
.user-avatar:hover {
  border: 1px solid gray;
}
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}
.accordion-button-csv {
  padding: 5px;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.accordion-button-csv:hover {
  box-shadow: 1px 2px 10px 2px gray;
}
.accordion-panel {
  padding: 10px 0;
  transition: 0.5s ease-in-out;
}

/* Purchase Table */

.products-table {
  border-collapse: collapse;
  width: 80%;
  text-align: center;
}
.products-table-head {
  background-color: black;
  color: white;
  font-size: 14px;
}
.products-table-head tr {
  padding-bottom: 5px;
  padding-top: 2px;
}
.products-table td,
.products-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.products-table-body tr {
  background-color: #cbcbcb;
  transition: 0.5s ease-in-out;
}
.products-table-body tr:nth-child(even) {
  background-color: #e7e7e7;
}
.products-table-body tr:hover {
  background-color: #262626;
  color: white;
}

.modal-popup {
  cursor: pointer;
  color: black !important;
}
